<div class="container-fluid text-center" id="about">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2>What's this about?</h2>
      <hr>
      <p>Pitch & Prototype Weekend is open to any idea and anyone that can access Osan Air Base, bringing together innovative thinkers, tinkerers, high performers, and general doers for a weekend long rapid prototyping event. Participants bring their ideas or a desire to contribute and help take an idea to something ready to prototype. From well vetted proposals to 3d printed tools, the ultimate mission is to learn by doing. Demo day winners will be presented with the prestigious Pitch & Prototype trophy.</p>
    </div>
  </div>
</div>