<div class="container-fluid" id="event">
  <div class="row">
    <div class="text-center">
      <h2>So, how can I participate?</h2>
      <hr>
      <p>You can participate at Pitch & Prototype Weekend as the following roles:</p>
      <div class="row">
        <div class="col-sm-4 block">
          <h3>Participant</h3>
          <p>The main role in the event, you're the whole reason we're doing this. If you have an idea, great! If not, an idea will need your help! Engineering, designing, writing, project management, coding, metalworking, or just your hands. You'll contribute something!</p>
        </div>
        <div class="col-sm-4 block">
          <h3>Consultant</h3>
          <p>A critical part to rapidly prototyping is knowing the ins-and-outs of DOD infrastructure, or having the experience building projects before. There may be a need for drafting diagrams, 3d modeling, or deploying software applications. Your experience will help keep ideas moving throughout the weekend.</p>
        </div>
        <div class="col-sm-4 block">
          <h3>Sponsor</h3>
          <p>In order to execute the greatest grassroots innovation competition, we need help. We'd love to show off the awesome organizations and businesses that helped make this happen. Contact us if you're interested!</p>
        </div>
      </div>
    </div>
  </div>
</div>