<div class="container-fluid text-center" id="how">
  <div class="row">
    <div class="col">
      <h2>How does it work?</h2>
      <hr>
      <div class="row">
        <div class="col-sm-3 block">
          <i class="fas fa-lightbulb"></i>
          <p>Show up with an idea or ready to form a team.</p>
        </div>
        <div class="col-sm-3 block">
            <i class="fas fa-bullhorn"></i>
          <p>60 seconds to pitch an idea. What is it and what talent is needed.</p>
        </div>
        <div class="col-sm-3 block">
            <i class="fas fa-users"></i>
          <p>Build or join a team.</p>
        </div>
        <div class="col-sm-3 block">
          <i class="fas fa-tools"></i>
          <p>Begin building your prototype!</p>
        </div>
      </div>
    </div>
  </div>
</div>