<div class="container-fluid" id="how">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis, facere quas molestias odit quasi ad earum. Sapiente illo, laudantium debitis unde sint adipisci expedita soluta facere tempora, nisi placeat aut. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus saepe illum dolores sunt quod modi vero hic id sint. Ratione earum corporis eius reprehenderit dolorem facilis asperiores libero accusamus sit!
    </div>
  </div>
</div>