// Color palette
$blue: #0d6eac;
$yellow: #fce157;
$orange: #e87731;
$red: #e03b42;
$green: #75ba44;
$white: #fffef3;
$black: #000000;

// Variables
$font-size: 1.25em;
$letter-spacing: 1px;
$word-spacing: 1px;

body {
  font-family: 'Oswald', sans-serif;
  letter-spacing: $letter-spacing;
  word-spacing: $word-spacing;
}

// Classes
.header {
  background-color: $white;
  background-image: url("/assets/img/cover.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: $black;

  .row {
    padding-top: 18%;
  }

  h1 {
    font-size: 4em;
    font-weight: bold;
  }

  h3 {
    font-size: 2.5em;
    font-weight: bold;
  }

  p {
    font-weight: bold;
    font-size: 1.25em;
  }
  
}

// IDs
#about {
  background-color: $blue;
  color: $white;
  min-height: 100vh;
  padding-top: 8em;
  padding-bottom: 8em;
  font-size: $font-size;

  i {
    font-size: 4em;
  }
}

#event {
  background-color: $green;
  color: $white;
  min-height: 100vh;
  padding-top: 8em;
  font-size: $font-size;

  .block {
    padding: 2em;
  }

  p {
    font-weight: bold;
    margin-top: 2em;
  }
}

#footer {
  background-color: $red;
  color: $white;
  min-height: 100vh;
  padding-top: 8em;
  font-size: $font-size;
}

#how {
  background-color: $yellow;
  color: $black;
  min-height: 100vh;
  padding-top: 8em;
  font-size: $font-size;

  .block {
    padding: 2em;
  }

  i {
    font-size: 4em;
    color: $white;
  }

  p {
    font-weight: bold;
    margin-top: 2em;
  }
}

#signup {
  background-color: $orange;
  color: $black;
  min-height: 100vh;
  padding-top: 8em;
  font-size: $font-size;
}

#sponsor {
  background-color: $white;
  color: $black;
  min-height: 100vh;
  padding-top: 8em;
}

// Page elements
hr {
  border: 3px $black solid;
  border-radius: 3px;
  width: 5em;
}

// Bootstrap overrides
#nav, .btn {
  background-color: $blue;
  color: $white;
  border-bottom: grey 1px solid;
}