// Color palette
$blue: #0d6eac;
$yellow: #fce157;
$orange: #e87731;
$red: #e03b42;
$green: #75ba44;
$white: #fffef3;
$black: #000000;


// Classes
.header {
  background-color: $white;
  height: 100vh;
  color: $black;

  .row {
    padding-top: 18%;
  }
}

// IDs
#about {
  background-color: $blue;
  color: $white;
  min-height: 100vh;
  padding-top: 8em;
  
  i {
    font-size: 5em;
  }
}

#event {
  background-color: $red;
  color: $white;
  min-height: 100vh;
  padding-top: 8em;
}

#footer {
  background-color: $orange;
  color: $white;
  min-height: 100vh;
  padding-top: 8em;
}

#how {
  background-color: $yellow;
  color: $black;
  min-height: 100vh;
  padding-top: 8em;

  i {
    font-size: 5em;
  }
}

#signup {
  background-color: $green;
  color: $black;
  min-height: 100vh;
  padding-top: 8em;
}

#sponsor {
  background-color: $white;
  color: $black;
  min-height: 100vh;
  padding-top: 8em;
}

// Page elements
hr {
  border: 3px $black solid;
  border-radius: 3px;
  width: 5em;
}

// Bootstrap overrides
#nav, .btn {
  background-color: $blue;
  color: $white;
  border-bottom: grey 1px solid;
}